
<%= form_with(model: user, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% if user.errors.has_key?(:first_name) %>
      <div class="error">
        <%= user.errors[:first_name].first %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% if user.errors.has_key?(:last_name) %>
      <div class="error">
        <%= user.errors[:last_name].first %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% if user.errors.has_key?(:nickname) %>
      <div class="error">
        <%= user.errors[:nickname].first %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <% if user.errors.has_key?(:email_address) %>
      <div class="error">
        <%= user.errors[:email_address].first %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: "form-control block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"  %>
    <% if user.errors.has_key?(:phone_number) %>
      <div class="error">
        <%= user.errors[:phone_number].first %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit "Save",class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<script type="text/javascript">
  var element = document.getElementById('user_phone_number');
  var maskOptions = {
    mask: '000-000-0000'
  };
  var mask = IMask(element, maskOptions);
</script>